APP_URL=http://localhost:3000

SESSION_SECRET=ALTERAR_PARA_UMA_CHAVE_ALEATORIA_LONGA

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

PASSWORD_SETUP_SECRET=ALTERAR_PARA_UMA_CHAVE_ALEATORIA_LONGA